{% extends 'layout/layout.html' %}

{% block intro %}
    <!--Intro-->
    <section id="top-section">
        <div class="container-fluid">

            <!--Excerpt-->
            <br>
            <h1 class="text-center dark-grey-text pb-3">
                <strong>{{ result['username'] }}</strong> BLOG</h1>

            <p class="grey-text text-center mb-4 font-up spacing">Welcome on my blog. </p>

            <!--Grid row-->
            <div class="row flex-center">

                <!--Grid column-->
                <div class="col-md-10 col-xl-5">

                    <p class="grey-text text-center">
                        <em>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                            voluptatum
                            deleniti atque corrupti quos dolores.Nemo enim ipsam voluptatem quia voluptas. Nemo enim
                            ipsam
                            voluptatem quia voluptas sit aspernatur."</em>
                    </p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
    </section>
    <!--/Intro-->
{% endblock %}

{% block content %}
    <!--Main listing-->
    <div class="col-lg-8 col-12 mt-1 mx-lg-4">

        <!--Section: Blog v.3-->
        <section class="section extra-margins pb-3 text-center text-lg-left">
            {% set count = 1 %}
            <div class="row text-center">
                {% for item in result['lstentry'] %}
                    <!--Grid column-->
                    <div class="col-md-6 mb-r">
                        <!--Card-->
                        <div class="card text-left">

                            <!--Card image-->
                            <div class="view overlay hm-white-slight">
                                <img src="/static/upload/{{ item.image }}"
                                     class="img-fluid" alt="{{ item.category.title }}">
                                <a>
                                    <div class="mask"></div>
                                </a>
                            </div>
                            <!--/.Card image-->

                            <!--Card content-->
                            <div class="card-body mx-4">
                                <a href="" class="teal-text text-center font-up font-small">
                                    <h6 class="mb-3 mt-3">
                                        <strong><a
                                                href={{ url_for('category', url = item.category.metatitle, id = item.category_id | custom_encode, page = 1) }}>{{ item.category.title }}</a></strong>
                                        <a class="dark-grey-text font-small">
                                            - {{ item.createdate.strftime('%d-%m-%Y') }}</a>
                                    </h6>
                                </a>
                                <!--Title-->
                                <h4 class="card-title">
                                    <strong class="line-clamp-title">{{ item.title }}</strong>
                                </h4>
                                <hr>
                                <!--Text-->
                                <p class="dark-grey-text mb-4 line-clamp">{{ item.description }}</p>

                                <p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="indigo-text text-left mb-0 "
                                           href="{{ url_for('user_blog', uname = item.user.username) }}">{{ item.user.username }}</a>
                                    </div>
                                    <div class="col-md-6">
                                        <a class="text-left mb-0 font-up font-small spacing font-bold"
                                           href={{ url_for('entry_detail', uname= item.user.username, url = item.metatitle, id = item.id | custom_encode ) }}>
                                            read more
                                            <i class="fa fa-chevron-circle-right"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>

                                </div>
                                </p>
                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->
                {% endfor %}
            </div>
        </section>
        <!--Section: Blog v.3-->

        <!--Pagination dark grey-->
        <nav class="mb-5 pb-2">
            <ul class="pagination" id="pagination-custom"></ul>
        </nav>
        <!--Pagination dark grey-->

    </div>
    <!--Main listing-->
{% endblock %}
{% block js_footer %}
    <script>
        $(function () {
            window.pagObj = $('#pagination-custom').twbsPagination({
                totalPages: {{ result['total_page'] }},
                visiblePages: 10,
                startPage: {{ result['page'] }},
                onPageClick: function (event, page) {
                    console.info(page + ' (from options)');
                }
            }).on('page', function (event, page) {
                var url = window.location.href;
                var rs = url.split('/');
                var hostname = rs[0] + '//' + rs[2];

                window.location.href = hostname + "/{{ result['username'] }}/page/" + page;
            });
        });
    </script>
{% endblock %}